body{
  background: linear-gradient(to bottom, #8f1919, #d0aa11);
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Sans Serif', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}


.roboto-font{
  font-family: "Roboto", sans-serif;
  color: #1C2226;
}

.title{
  font-weight: 900;
}

.number {
  text-shadow: 5px 5px 1px rgb(30, 142, 30);
}

.date{
  text-shadow: 5px 5px 1px rgb(204, 62, 11);

}

.invitation span{
  font-family: "Roboto", sans-serif;
}

.btn{
  box-shadow: 5px 5px 1px rgb(169, 70, 103);
}

@-webkit-keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(10px) }
  100% { transform: translateY(-5px) }
}

@keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(10px) }
  100% { transform: translateY(-5px) }
}

.img{
  -webkit-animation: bounce 3s infinite ease-in-out;
    -o-animation: bounce 3s infinite ease-in-out;
    -ms-animation: bounce 3s infinite ease-in-out; 
    -moz-animation: bounce 3s infinite ease-in-out; 
    animation: bounce 3s infinite ease-in-out;
}